<!DOCTYPE html>
<html>
<head>
  <% include _header.ejs %>
</head>

<body>



<div class="container">
<h2>Database Results</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.firstname %> - <%= r.lastname %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
