<!DOCTYPE html>

<!--
	Twenty by HTML5 UP   NEWNEWNEWNEWN！！！！！！！！！！！！！！
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en">
	<head>
		<title>Piano++</title>
		<meta charset="utf-8" />
    <% include _header %>
    <% include _mobile %>
	<!--	<meta name="viewport" content="width=device-width, initial-scale=1" />      comment this will make smooth scroll work!!!!!!!!!     -->
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->

		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->


	</head>
	<body class="index">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1 id="logo"><a href="index.html">Piano++</a></h1>
					<nav id="nav" style= " position:fixed; right:10%;">
						<ul>
							<li class="current "><a href="chooseroom">Chat</a></li>
							<li class="submenu">
								<a href="#" class="button special">Layouts</a>


								<ul id="menu">
									<li><a href="#student">Take Lessions</a></li>
									<li><a href="#tutor">Become a tutor</a></li>
									<li><a href="#price">Pricing</a></li>
									<li><a href="#about">About Us</a></li>

								</ul>

							 </li>
							<li><a href="#" class="">Sign Up</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">

					<!--
						".inner" is set up as an inline-block so it automatically expands
						in both directions to fit whatever's inside it. This means it won't
						automatically wrap lines, so be sure to use line breaks where
						appropriate (<br />).
					-->
					<div class="inner">

						<header>
							<h2>PIANO++</h2>
						</header>
						<p>We are an <strong>interactive</strong>, free
						<br />
						realtime musical
						<br />
						learning experience.</p>
						<footer>
							<ul class="buttons vertical">
								<li><a href="about.html" class="button fit scrolly">Tell Me More</a></li>
							</ul>
						</footer>

					</div>

					</div>

				</section>

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon fa-music"></span>
						<h2>We are the only <strong>interactive</strong> user-based
						<br />
						online musical learning platform..</h2>
						<p>We are built with WebRTC, ASP.NET, Node.JS, Socket.IO, jQuery, and AWS to name a few.
						<br /
						Designed with the <strong>user</strong> in mind, we seek
						<br />
						to bring musical education to people of all backgrounds. Join us today!</p>
					</header>

					<!-- One 1-->


						<section class="wrapper style2 container special-alt" id="student" >
							<div class="row 50%">
								<div class="8u 12u(narrower)">

									<header>
										<h2>Take Lessons</h2>
									</header>
									<ul style="list-style-type:disc">
										<li>Piano++ offers everyone an easy and affordable way to improve their skills with help from a growing list of tutors.</li>
										<li>Avoid paying upfront and committing for multiple weeks, or months. Pay per minute and choose the topics or songs you want to cover ahead of time.</li>
										<li>Video chat with your tutor, and you have the option to connect a MIDI keyboard to the computer so the tutor can exactly which notes you're playing (or vice versa).</li>
										<li>View all online tutors currently available and request lessons from one in particular, or let us choose</li>
									</ul>


								</div>
								<div class="4u 12u(narrower) important(narrower)">

									<ul class="featured-icons">
										<li><span class="icon fa-clock-o"><span class="label">Feature 1</span></span></li>
										<li><span class="icon fa-volume-up"><span class="label">Feature 2</span></span></li>
										<li><span class="icon fa-laptop"><span class="label">Feature 3</span></span></li>
										<li><span class="icon fa-inbox"><span class="label">Feature 4</span></span></li>
										<li><span class="icon fa-lock"><span class="label">Feature 5</span></span></li>
										<li><span class="icon fa-cog"><span class="label">Feature 6</span></span></li>
									</ul>

								</div>
							</div>
						</section>


						<!-- One 2 -->
						<section class="wrapper style2 container special-alt" id="tutor" style="background-color:#6495ED">
							<div class="row 50%">
								<div class="8u 12u(narrower)">

									<header>
										<h2>Become a piano tutor</h2>
									</header>
									<ul style="list-style-type:disc">
									<li>Existing tutors can supplement their already-busy schedules by finding people interested in on-demand lessons.</li>
                                    <li>Post links on your profile to your musical portfolio, be it a band or YouTube channel, to help build your brand and give more reasons for students to choose you.</li>
                                    <li>No need to worry about scheduling or payment logistics - we take care of that so you can focus on actually playing and teaching.<li>
                                    <li>Set your availability</li>
                                    </ul>



								</div>

							</div>
						</section>

						<!-- One 3-->
						<section class="wrapper style2 container special-alt" id="price" style="background-color:#6A5ACD">
							<div class="row 50%">
								<div class="8u 12u(narrower)">

									<header>
										<h2>Price</h2>
									</header>
									<ul style="list-style-type:disc">
									<li>Students set a maximum price per minute they are willing to pay, and we will efficiently match them with the best tutors available, checking in order from the least expensive to those at the student's maximum price.</li>
                                    <li>Cancel within the first minute at no charge in case you and your tutor don't get along well</li>
                                    </ul>






								</div>
							</div>
						</section>

						<!-- One 4-->
						<section class="wrapper style2 container special-alt" id="about" style="background-color:#8A2BE2">
							<div class="row 50%">
								<div class="8u 12u(narrower)">

									<header>
                                        <h2>Our services offered include mentorship for competitions, adjudications, performances, or even for personal purposes!</h2>

									</header>
									<p>We offer <strong>interactive</strong> MIDI keyboard analysis, complete with an <strong>online</strong><br>audio and facial recognition system, as well as <strong>compatibility</strong> with all digital instruments.</p>
									<footer>
										<ul class="buttons">
											<li><a href="about.html" class="button">Find Out More</a></li>
										</ul>
									</footer>

						

								</div>
							</div>
						</section>

					<!-- Two -->
						<section class="wrapper style1 container special">
							<div class="row">
								<div class="4u 12u(narrower)">

									<section>
										<span class="icon featured fa-check"></span>
										<header>
											<h3>This is Something</h3>
										</header>
										<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
									</section>

								</div>
								<div class="4u 12u(narrower)">

									<section>
										<span class="icon featured fa-check"></span>
										<header>
											<h3>Also Something</h3>
										</header>
										<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
									</section>

								</div>
								<div class="4u 12u(narrower)">

									<section>
										<span class="icon featured fa-check"></span>
										<header>
											<h3>Probably Something</h3>
										</header>
										<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
									</section>

								</div>
							</div>
						</section>

					<!-- Three -->
						<section class="wrapper style3 container special">

							<header class="major">
								<h2>Next look at this <strong>cool stuff</strong></h2>
							</header>

							<div class="row">
								<div class="6u 12u(narrower)">

									<section>
										<a href="#" class="image featured"><img src="/img/pic01.jpg" alt="" /></a>
										<header>
											<h3>A Really Fast Train</h3>
										</header>
										<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
									</section>

								</div>
								<div class="6u 12u(narrower)">

									<section>
										<a href="#" class="image featured"><img src="/img/pic02.jpg" alt="" /></a>
										<header>
											<h3>An Airport Terminal</h3>
										</header>
										<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
									</section>

								</div>
							</div>
							<div class="row">
								<div class="6u 12u(narrower)">

									<section>
										<a href="#" class="image featured"><img src="/img/pic03.jpg" alt="" /></a>
										<header>
											<h3>Hyperspace Travel</h3>
										</header>
										<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
									</section>

								</div>
								<div class="6u 12u(narrower)">

									<section>
										<a href="#" class="image featured"><img src="/img/pic04.jpg" alt="" /></a>
										<header>
											<h3>And Another Train</h3>
										</header>
										<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
									</section>

								</div>
							</div>

							<footer class="major">
								<ul class="buttons">
									<li><a href="#" class="button">See More</a></li>
								</ul>
							</footer>

						</section>

				</article>

			<!-- CTA -->
				<!-- CTA -->
				<section id="cta">

					<header>
						<h2>Ready to <strong>join</strong>?</h2>
						<p>We're so excited to have you in our vibrant, growing community. <br>Our mantra - that you're never too old to start playing - holds true for all of our customers, <br>and we're sure it'll hold true for you as well.</p>
					</header>
					<footer>
						<ul class="buttons">
							<li><a href="signup.html" class="button special">Sign Up</a></li>
						</ul>
					</footer>

				</section>

			<!-- Footer -->
				<footer id="footer">

					<ul class="icons">
						<li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
						<li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>

					</ul>

					<ul class="copyright">
						<li>&copy; Piano++</li><li>Made with ♥ at <a href="http://angelhack.com/hackathon/manhattan-2015/">Angelhack</a></li>
					</ul>

				</footer>

		</div>






		<!-- Scripts -->
		<!--	<script src="assets/js/jquery.min.js"></script>  -->
		<% include _vendor %>

	</body>
</html>
